name: Build Extension

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: Build Extension Image
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

        # We get the version from the git tag and not from the semantic-release output,
        # because if the pipeline fails after a release is created,
        # on rerun, semantic-release output will be null but we still want build and push a new docker image.
      - name: Extract version from tag
        id: extract_version
        run: |
          #!/bin/bash

          git fetch --tags --force

          TAGS=$(git tag --points-at HEAD)

          # Filter tags matching semantic version pattern
          SEMVER_TAG=$(echo "$TAGS" | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | sort -V | tail -n 1)

          if [ -z "$SEMVER_TAG" ]; then
              echo "No semantic version tag found for this commit."
              exit 1
          else
              echo "Found semantic version tag: $SEMVER_TAG"
              echo "version=${SEMVER_TAG}" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.180
        with:
          context: .
          file: Containerfile
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VERSION="${{ steps.extract_version.outputs.version }}"
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ steps.extract_version.outputs.version }}
            ghcr.io/${{ github.repository }}:${{ github.sha }}
